<footer class="site-footer">

  <div class="wrapper">
	<h2 class="footer-heading">{{ site.title }}</h2>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
      	<ul class="contact-list">
      	  <li>{{site.university}}</li>
		  <li>{{site.semester}}</li>
          <li>{{site.course_number}}</li>
          <li>{{site.meetingtime}}</li>
          <li>{{site.room}}</li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
      	<ul class="contact-list">
		  <li>Instructor: <a href="http://cameronblevins.org/">{{site.instructor}}</a></li>
		  <li>Email: {{site.email}}</li>
		  <li>Office: {{site.office}}</li>
		  <li>Hours: {{site.officehours}}</li>
		</ul>
      </div>

<!--
      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
--!>

    </div>

  </div>

</footer>
